<div #asHome class="col wrapper section-block border-white-bottom">
  <div class="row m-0">
    <div class="in-wrapper col-12 col-xs-12 col-md-12 col-lg-12">
      <h4 class="sub-title decorator spacer animate__animated animate__fadeInDown animation-3">
        Somos 10K en Youtube</h4>
      <div class="wrapper-title">
        <h1 #asTitle class="title animate__animated animate__fadeInDown animation-5"></h1>

<!--        <div data-micron="tada" (click)="move(true)" class="btn-cta pointer pulse">-->
<!--          <i class="uil uil-arrow-down-right"></i>-->
<!--        </div>-->
        <div *ngIf="showFaq" class="animate__animated animate__fadeInDown animation-5">
          <div (click)="utilService.scrollToBottom()"  data-micron="tada" class="draw-border image-cta-down btn-cta pointer pulse ">
          </div>
        </div>
      </div>
    </div>

    <div class="in-wrapper mobile-section col-12 col-xs-12 col-md-12 col-lg-6 ">
      <div *ngFor="let a of menuSteps;let i = index">
        <button (click)="a?.cb()" class="social-btn fb-btn {{a.class}}">
          <span [innerHTML]="a.icon"></span>
        </button>
        <div class="step">
          <span>{{a.step}}</span>
        </div>
      </div>

    </div>

    <!--    <div class="col-12 col-xs-12 col-md-12 col-lg-6 text-center">-->
    <!--      <div class="avatar-mock">-->

    <!--      </div>-->
    <!--    </div>-->

    <div *ngIf="showFaq" class="col-12 col-xs-12 col-md-12 col-lg-12 hover-faq-section">
      <div class="row">
        <div (click)="moreInfo('SHOW_FAQ_1')" class="pointer  col-12 animate__animated animate__fadeInDown animation-3">
          <h4 class="sub-title decorator spacer ">¿Cómo participo?</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum ducimus facere quos similique vero voluptas.
          </p>
          <div *ngIf="showCase">
            <ul class="list-not row">
              <li class="list-item col-3 gift-wrapper  animate__animated animate__fadeInDown animation-{{i}}"
                  *ngFor="let a of [1,1,1];let i = index">
                <div class="gift">
                  <img src="https://images-na.ssl-images-amazon.com/images/I/51OhYqp9zFL.jpg" alt="">
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div (click)="moreInfo('SHOW_FAQ_2')" class="pointer col-6 animate__animated animate__fadeInDown animation-4">
          <h4 class="sub-title decorator spacer">¿Cuales son los premios?</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, mollitia.
          </p>
        </div>
        <div (click)="moreInfo('SHOW_FAQ_3')"  class="pointer col-6 animate__animated animate__fadeInDown animation-5">
          <h4 class="sub-title decorator spacer">¿Hasta cuando es valido?</h4>
          <p>
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, mollitia.
          </p>
        </div>

      </div>
    </div>

    <div #asHideFaq1 class="faq-section col-12 col-xs-12 col-md-12 col-lg-11">
      <div class="row">
        <div class="col-12 animate__animated animate__fadeInDown animation-3">
          <h4 class="sub-title decorator spacer ">¿Cómo participo?</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consectetur eos minus modi molestiae nisi obcaecati quidem suscipit! Debitis delectus labore modi molestiae provident quas quod repudiandae sequi soluta, veritatis?
          </p>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consectetur eos minus modi molestiae nisi obcaecati quidem suscipit! Debitis delectus labore modi molestiae provident quas quod repudiandae sequi soluta, veritatis?
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consectetur eos minus modi molestiae nisi obcaecati quidem suscipit! Debitis delectus labore modi molestiae provident quas quod repudiandae sequi soluta, veritatis?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consectetur eos minus modi molestiae nisi obcaecati quidem suscipit! Debitis delectus labore modi molestiae provident quas quod repudiandae sequi soluta, veritatis?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consectetur eos minus modi molestiae nisi obcaecati quidem suscipit! Debitis delectus labore modi molestiae provident quas quod repudiandae sequi soluta, veritatis?
          </p>

        </div>
        <div (click)="moreInfo('HIDE_FAQ_1')" class="back-arrow pointer">
          <i class="uil uil-arrow-right"></i>
        </div>

      </div>
    </div>
    <div #asHideFaq2 class="faq-section col-12 col-xs-12 col-md-12 col-lg-11">
      <div class="row">
        <div class="pointer  col-12 animate__animated animate__fadeInDown animation-3">
          <h4 class="sub-title decorator spacer ">¿Cuales son los premios?</h4>
          <p>
            22 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, mollitia. AA
          </p>

        </div>
        <div (click)="moreInfo('HIDE_FAQ_2')" class="back-arrow pointer">
          <i class="uil uil-arrow-right"></i>
        </div>


      </div>
    </div>
    <div #asHideFaq3 class="faq-section col-12 col-xs-12 col-md-12 col-lg-11">
      <div class="row">
        <div class="pointer  col-12 animate__animated animate__fadeInDown animation-3">
          <h4 class="sub-title decorator spacer ">¿Cuales son los premios?</h4>
          <p>
            CC Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, mollitia. AA
          </p>

        </div>

        <div (click)="moreInfo('HIDE_FAQ_3')" class="back-arrow pointer">
          <i class="uil uil-arrow-right"></i>
        </div>
      </div>
    </div>
  </div>
</div>

