<div #asHome class="col wrapper section-block border-white-bottom">
  <div class="row m-0">
    <div class="in-wrapper col-12 col-xs-12 col-md-12 col-lg-12">
      <h4 class="sub-title decorator spacer animate__animated animate__fadeInDown animation-3">
        Somos 10K en Youtube 🎁 CONCURSO!</h4>
      <div class="wrapper-title">
        <h1 #asTitle class="title animate__animated animate__fadeInDown animation-5"></h1>
        <div *ngIf="showFaq" class="animate__animated animate__fadeInDown animation-5">
          <div (click)="utilService.scrollToBottom()" data-micron="tada"
               class="draw-border image-cta-down btn-cta pointer pulse ">
          </div>
        </div>
      </div>
    </div>

    <!-- Section Mobile Buttons -->
    <div *ngIf="showFaq"
         class="in-wrapper mobile-section col-12 col-xs-12 col-md-12 col-lg-6 animate__animated animate__fadeInDown animation-5">
      <div *ngFor="let a of menuSteps;let i = index">
        <a [href]="a?.url" class="social-btn  {{a.class}}" *ngIf="a?.url">
          <span [innerHTML]="a.icon"></span>
        </a>
        <button *ngIf="!a?.url" (click)="a?.cb()" class="social-btn  {{a.class}}">
          <span [innerHTML]="a.icon"></span>
        </button>
        <div class="step">
          <span>{{a.step}}</span>
        </div>
      </div>
    </div>

    <!-- FAQ Section --->
    <div *ngIf="showFaq" class="col-12 col-xs-12 col-md-12 col-lg-12 hover-faq-section">
      <div class="row">
        <!-- FAQ 1 -->
        <div (click)="moreInfo('SHOW_FAQ_1')"
             class="pointer col-12 col-md-6 animate__animated animate__fadeInDown animation-3">
          <h4 class="sub-title decorator spacer ">¿Cómo participo?</h4>
          <p>
            Para participar en el concurso debes estar suscrito al canal.
            <br> Si
            aún no estás suscrito
            <a target="_blank" href="http://www.youtube.com/channel/UCgrIGp5QAnC0J8LfNJxDRDw?sub_confirmation=1">ÚNETE
              aquí</a><br>
            <span class="badge-text">Continuar leyendo</span>
          </p>
        </div>

        <!-- FAQ 2 -->
        <div (click)="moreInfo('SHOW_FAQ_1')"
             class="pointer col-12 col-md-6 animate__animated animate__fadeInDown animation-4">
          <h4 class="sub-title decorator spacer">¿Cuáles son los premios?</h4>
          <p>
            El aprendizaje es un regalo que nace alguna vez y se queda contigo hasta que mueres, por eso el premio de
            este CONCURSO es una <b>MEMBRESÍA</b> de un <b>MES</b> de formación profesional de los amigos de...
            <br> <span class="badge-text">Continuar leyendo</span>
          </p>
        </div>

      </div>

    </div>

    <div #asHideFaq1 class="faq-section col-12 col-xs-12 col-md-12 col-lg-11">
      <div class="row">
        <div (click)="moreInfo('HIDE_FAQ_1')" class="back-arrow pointer">
          <i class="uil uil-multiply"></i>
        </div>
        <div class="col-12 animate__animated animate__fadeInDown animation-3">
          <h4 class="sub-title decorator spacer ">¿Cómo participo?</h4>
          <p>
            Para participar en el concurso debes estar suscrito al canal.
            <br> Si
            aún no estás suscrito
            <a target="_blank" href="http://www.youtube.com/channel/UCgrIGp5QAnC0J8LfNJxDRDw?sub_confirmation=1">ÚNETE
              aquí</a><br><br>
          </p>
          <hr>
          <p>
            <b>Si eres del equipo del FRONTEND:</b> <br> Dejame saber ¿Por qué eres un desarrollador frontend? y ¿Qué es
            lo que más te gusta de ser un desarrollador frontend?
            <br>Para ello vas a dejar tu comentario iniciando <b><i>#leifermendez soy un desarrollador frontend...</i></b>
            en el siguiente <b><a target="_blank" href="https://www.youtube.com/watch?v=6741ceWzsKQ">👉 VIDEO</a></b>
            y asi YA ESTÁS PARTICIPANDO
          </p>
          <hr>
          <p>
            <b>Si eres del equipo del BACKEND:</b> <br> Dejame saber ¿Por qué eres un desarrollador backend? y ¿Qué es
            lo que más te gusta de ser un desarrollador backend?
            <br>Para ello vas a dejar tu comentario iniciando <b><i>#leifermendez soy un desarrollador backend...</i></b>
            en el siguiente <b><a target="_blank" href="https://www.youtube.com/watch?v=FqLbmjWAT4g">👉 VIDEO</a></b>
            y asi YA ESTÁS PARTICIPANDO
          </p>

        </div>
        <div class="col-12 animate__animated animate__fadeInDown animation-3">
          <h4 class="sub-title decorator spacer ">¿Cuáles son los premios?</h4>
          <p>
            El aprendizaje es un regalo que nace alguna vez y se queda contigo hasta que mueres, por eso el premio de
            este <b>CONCURSO</b> es una <b>MEMBRESÍA</b> de un mes de formación profesional de los amigos de
            <b><a href="https://codigoencasa.com/p/e0749ff6-a33f-4fcf-928d-39c3fef7b79b" target="_blank">CODELYTV</a></b>.
          </p>
          <p> Donde encontrarás
            más de <b>40 cursos avanzados</b>, prácticos y al grano, con este premio podrás aprender cosas nuevas y
            continuar
            mejorando cómo programador. <br> Si aún no conoces a mis amigos, checate a estos crack en este link: <a
              href="https://codigoencasa.com/p/e0749ff6-a33f-4fcf-928d-39c3fef7b79b/" target="_blank">VER MÁS</a></p>

        </div>
        <div class="col-12 animate__animated animate__fadeInDown animation-3">
          <h4 class="sub-title decorator spacer ">¿Hasta cuando es válido?</h4>
          <p>
            El concurso tendrá un tiempo de participación de diez días.
          </p>

        </div>
        <div class="col-12 animate__animated animate__fadeInDown animation-3">
          <h4 class="sub-title decorator spacer ">¿Cómo sé si yo gané?</h4>
          <p>
            El día xx a las xx horas se llevará a cabo el concurso por medio de un en vivo en el canal de
            <a href="http://www.youtube.com/channel/UCgrIGp5QAnC0J8LfNJxDRDw?sub_confirmation=1" target="_blank">
              <b>YOUTUBE</b>
            </a>
            , y desde
            ya ESTAS INVITADO.
          </p>

        </div>
        <div class="col-12 animate__animated animate__fadeInDown animation-3">
          <h4 class="sub-title decorator spacer ">¿Cómo se realizará el concurso?</h4>
          <p>
            A través de una plataforma se recolectarán los comentarios que cumplan con los criterios de participación, y
            de manera aleatoria arroja el GANADOR.
            El código fuente de está plataforma estará libre en mi <a href="https://github.com/leifermendez" target="_blank">repositorio.</a>
            Si no logras asistir al en vivo, no te preocupes estaré anunciando el ganador en mis redes sociales:
            <br>
            <b class="social-badge" *ngFor="let s of listSocial"><a [href]="s?.url" target="_blank">{{s?.name}}</a></b>
          </p>

        </div>
      </div>
    </div>

  </div>
</div>

