<app-header></app-header>
<div class="wrapper-dashboard-title">
  <h4 class="sub-title decorator spacer animate__animated animate__fadeInDown animation-3">Gracias a todos los
    participantes</h4>
</div>
<div class="wrapper-dashboard ">
  <div class="cards-block">
    <div *ngFor="let a of participants; let i = index"
         class="card-single animate__animated animate__fadeInDown comment-{{a?._id}}"
         [ngClass]="{'win-win':a?._id === winner?._id}">
      <img src="assets/images/avatar-circle-3.png" alt="">
    </div>
  </div>
</div>


<div class="alert-winner" *ngIf="winner?._id">
  <div class="card-comment animate__animated animate__bounceIn pulse">
    <b>Ganador/a</b>
    <div class="avatar">
      <a target="_blank" href="{{winner?.authorChannelUrl}}"><i
        class="uil uil-external-link-alt"></i></a> {{winner?.author}}
    </div>
    <div>
      <a target="_blank" href="https://www.youtube.com/watch?v={{winner?.video}}"><i
        class="uil uil-external-link-alt"></i></a> {{winner?.comment}}
    </div>
  </div>
</div>
