<div *ngIf="showAll">

  <ng-container *ngIf="!showFaq">
    <div #asJoin class="wrapper-join ">
      <ng-container *ngIf="!currentUser">
        <div *ngFor="let a of menuSteps;let i = index">
          <a [href]="a?.href"
             class="social-btn btn draw-border {{a?.class}} animate__animated animate__fadeInDown animation-7">
            <span class="icon-block" [innerHTML]="a.icon"></span>
            <span class="text">{{a.label}}</span>
          </a>
          <div class="step animate__animated animate__fadeInDown animation-8">
            <span>Paso <b>{{i + 1}}</b></span>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="currentUser">
        <div >
          <button [routerLink]="['/','participants']"
                  class="social-btn btn draw-border user-btn btn-step-1 animate__animated animate__fadeInDown animation-7">
          <span class="text">
          </span>
          </button>
          <div class="step animate__animated animate__fadeInDown animation-8">
            <span>Ver comentarios</span>
          </div>
        </div>
      </ng-container>

      <div>
        <button class="social-btn btn draw-border avatar-mock-btn animate__animated animate__fadeInDown animation-8"
                (click)="move('SHOW_VIDEO')">
          <span class="icon-block icon-play"><i class="uil uil-youtube"></i></span>
        </button>
        <div class="step animate__animated animate__fadeInDown animation-9">
          <span>¿Más info?</span>
        </div>
      </div>
    </div>
  </ng-container>

  <div #asVideo class="wrapper-video-player hide-video">
    <div class="in-wrapper-video-player">
      <div class="close pointer" (click)="move('HIDE_VIDEO');closeVideo()">Cerrar <i class="uil uil-times"></i></div>
      <youtube-player  (ready)="setPlayer($event)" [playerVars]="playerVars"
                      [className]="'video-player'" videoId="4N-SYyu1fY8"></youtube-player>
    </div>
  </div>


</div>


